body {
    font-family: Arial, sans-serif;
    background-color: #7CB40B;
    margin: 0;
    padding: 0;
}

form {
    max-width: 300px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Verdana, sans-serif;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Verdana, sans-serif;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Verdana, sans-serif;
}

p.greeting-message {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    padding: 15px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    font-family: Verdana, sans-serif;
}
.hi {
    text-align: center;
    color: #390BB4;
    font-family: FreeMono, monospace;
}